body { 
  background-color: chocolate;
  margin: 0px;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
}
.background {
  grid-column: 1;
  grid-row: 1;
  margin: 1vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 49.5%;
  grid-gap: 1vh;
}
.background-block {
  background-color: rgb(73, 73, 73);
  border-radius: 1vmax;
  /* bar reflection, bar shadow, bar cast shadow */
  box-shadow: .1vh .1vh .5vh white, 
    -.25vh -.25vh 1vh rgb(29, 29, 29),
    .5vh .5vh 4vh black inset;
}
.foreground {
  grid-column: 1;
  grid-row: 1;
  padding: 10vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(20%, 10%);
  grid-gap: 2vh 2vw;
}
.foreground-block {
  background-color: rgb(0, 139, 139);
  padding: 1vh;
  border-radius: 1vmax;
  /* reflection, shadow, drop shadow */
  box-shadow: .5vh .5vh 1vh white inset,
  -.25vh -.25vh 1vh rgb(29, 29, 29) inset,
  .5vh .5vh 4vh black;
  transition: .5s;
}
.foreground-block:hover {
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  transition: .5s;
}
.foreground-block:active {
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  transition: .5s;
}